body {
	padding: 0;
	margin: 0;
}

header {
	padding: 0;
	margin: 0;
	height: 650px;
	width: 100%;
	background: url(../img/background.jpg) no-repeat bottom left / cover;
}
.mainheader {
	margin-left: 100px;
	height: 650px; 
	width: 850px;
}

.mainword {
	padding-left: 300px;
	padding-top: 200px;
}
.firstmenu {
	margin-left: 240px;
	height: 45px;
}

.firstmenu a {
	text-decoration: none;
	text-transform: uppercase;
}

.firstmenu li {
	float: left;
	margin-left: 20px;
	list-style-type: none;
}
.secondmenu {
	height: 50px;
	margin-left: 245px;
}
input {
	margin-left: 50px;
	border-radius: 5px; 
}
button {
	
}
